<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Poster</th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Genres</th>
                <th>Popularity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let movie of movies'>
                <td>{{movie.poster_path}}</td>
                <td>{{movie.original_title}}</td>
                <td>{{movie.release_date}}</td>
                <td>{{movie.genre_ids}}</td>
                <td>{{movie.popularity}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            Page {{currentPage}} of {{totalPages}}
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <button class="btn btn-default" (click)='prevPage()'>Prev Page</button>
                <button class="btn btn-default"(click)='nextPage()'>Next Page</button>
            </div>
        </div>
    </div>
</div>